#header {
    height: 40px;
    background-image: url(../img/bar.png);
    background-repeat: repeat-x;
    background-position: left bottom;
}

#loading {
    text-align: center;
    margin-top: 50px;
}

body {
    padding: 1em;
}

h1 {
    background-color: #2C2C2C;
    background-image: -moz-linear-gradient(top, #333, #222);
    background-image: -ms-linear-gradient(top, #333, #222);
    background-image; -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
    background-image: -webkit-linear-gradient(top,#333,#222);
    background-image: -o-linear-gradient(top,#333,#222);
    background-image: linear-gradient(top,#333,#222);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);

    background-repeat: repeat-x;
    
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);

    text-align: center;
    color: black;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
    font-weight: bold;
}

.input-xlarge {
    height: 28px;
}